body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
a {
    margin: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.poster {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.poster img {
    max-width: 350px;
    height: auto;
}
.poster p {
    text-align: center;
}
span {
    display: block;
}